<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork900-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

***Note***:- If you are working in IBM Cloud Watson Studio, please replace the command for installing nbformat from `!pip install nbformat==4.2.0` to simply `!pip install nbformat`

In [1]:
!pip install mamba
!pip install plotly
!pip install pandas
!pip install pandas-datareader
!pip install requests

Requirement already satisfied: mamba in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (0.11.3)
Requirement already satisfied: clint in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from mamba) (0.5.1)
Requirement already satisfied: coverage in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from mamba) (7.4.4)
Requirement already satisfied: args in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from clint->mamba) (0.1.0)
Requirement already satisfied: plotly in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (5.20.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from plotly) (23.2)
Requirement already satisfied: pandas in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: pandas-datareader in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (0.10.0)
Requirement already satisfied: lxml in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from pandas-datareader) (5.1.1)
Requirement already satisfied: pandas>=0.23 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from pandas-datareader) (2.2.1)
Requirement already satisfied: requests>=2.19.0 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from pandas-datareader) (2.31.0)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from pandas>=0.23->pandas-datareader) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from pandas>=0.23->pandas-datareader) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2024.2.2)
Requirement already satisfied: six>=1.5 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas-datareader) (1.16.0)
Requirement already satisfied: requests in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from requests) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from requests) (2024.2.2)

In [2]:
!pip install yfinance==0.1.67
!pip install --upgrade yfinance pandas
!mamba install bs4==4.10.0
!pip install nbformat

Requirement already satisfied: yfinance==0.1.67 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (0.1.67)
Requirement already satisfied: pandas>=0.24 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from yfinance==0.1.67) (2.2.1)
Requirement already satisfied: numpy>=1.15 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from yfinance==0.1.67) (1.26.4)
Requirement already satisfied: requests>=2.20 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from yfinance==0.1.67) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from yfinance==0.1.67) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from yfinance==0.1.67) (5.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from pandas>=0.24->yfinance==0.1.67) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from pandas>=0.24->yfinance==0.1.67) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from pandas>=0.24->yfinance==0.1.67) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from requests>=2.20->yfinance==0.1.67) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from requests>=2.20->yfinance==0.1.67) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from requests>=2.20->yfinance==0.1.67) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from requests>=2.20->yfinance==0.1.67) (2024.2.2)
Requirement already satisfied: six>=1.5 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.24->yfinance==0.1.67) (1.16.0)
Requirement already satisfied: yfinance in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (0.1.67)
Collecting yfinance
  Downloading yfinance-0.2.37-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pandas in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (2.2.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from yfinance) (5.1.1)
Collecting appdirs>=1.4.4 (from yfinance)
  Downloading appdirs-1.4.4-py2.py3-none-any.whl.metadata (9.0 kB)
Requirement already satisfied: pytz>=2022.5 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from yfinance) (2023.3.post1)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.0.tar.gz (314 kB)
     ---------------------------------------- 0.0/314.6 kB ? eta -:--:--
     - -------------------------------------- 10.2/314.6 kB ? eta -:--:--
     ---- -------------------------------- 41.0/314.6 kB 487.6 kB/s eta 0:00:01
     ---------- -------------------------- 92.2/314.6 kB 744.7 kB/s eta 0:00:01
     --------------------- ---------------- 174.1/314.6 kB 1.1 MB/s eta 0:00:01
     ---------------------------------- --- 286.7/314.6 kB 1.4 MB/s eta 0:00:01
     -------------------------------------- 314.6/314.6 kB 1.4 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.1.tar.gz (3.0 MB)
     ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
     ---- ----------------------------------- 0.3/3.0 MB 7.1 MB/s eta 0:00:01
     ------- -------------------------------- 0.6/3.0 MB 5.9 MB/s eta 0:00:01
     ----------- ---------------------------- 0.9/3.0 MB 6.9 MB/s eta 0:00:01
     --------------------- ------------------ 1.6/3.0 MB 8.4 MB/s eta 0:00:01
     -------------------------- ------------- 1.9/3.0 MB 8.3 MB/s eta 0:00:01
     ---------------------------------------- 3.0/3.0 MB 10.5 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from requests>=2.31->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from requests>=2.31->yfinance) (2024.2.2)
Downloading yfinance-0.2.37-py2.py3-none-any.whl (72 kB)
   ---------------------------------------- 0.0/73.0 kB ? eta -:--:--
   ---------------------------------------- 73.0/73.0 kB ? eta 0:00:00
Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Building wheels for collected packages: frozendict, peewee
  Building wheel for frozendict (pyproject.toml): started
  Building wheel for frozendict (pyproject.toml): finished with status 'done'
  Created wheel for frozendict: filename=frozendict-2.4.0-py3-none-any.whl size=15471 sha256=5e2b783ba0df14281a0201580fde8c3cc1d1b3b3aafd4ab7c3c53de52031c799
  Stored in directory: c:\users\khusa\appdata\local\pip\cache\wheels\f8\24\61\a7327cee6da6ddddd619cddf13acfb4ec63606c69bbfe31486
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.1-py3-none-any.whl size=136948 sha256=6da567e3354d8a0ff083509903894978a8bbeef9f05ffd84c2358d1c91ad354b
  Stored in directory: c:\users\khusa\appdata\local\pip\cache\wheels\fe\58\f4\132ded03aa364dd5d2bbc2d02e1c2074a9b5012776d15fc2dc
Successfully built frozendict peewee
Installing collected packages: peewee, appdirs, frozendict, yfinance
  Attempting uninstall: yfinance
    Found existing installation: yfinance 0.1.67
    Uninstalling yfinance-0.1.67:
      Successfully uninstalled yfinance-0.1.67
Successfully installed appdirs-1.4.4 frozendict-2.4.0 peewee-3.17.1 yfinance-0.2.37


0 examples ran in 0.0000 seconds
Requirement already satisfied: nbformat in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (4.2.0)
Requirement already satisfied: ipython-genutils in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from nbformat) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from nbformat) (4.19.2)
Requirement already satisfied: jupyter-core in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from nbformat) (5.5.0)
Requirement already satisfied: traitlets>=4.1 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from nbformat) (5.7.1)
Requirement already satisfied: attrs>=22.2.0 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat) (0.10.6)
Requirement already satisfied: platformdirs>=2.5 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from jupyter-core->nbformat) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from jupyter-core->nbformat) (305.1)

In [3]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In Python, you can ignore warnings using the warnings module. You can use the filterwarnings function to filter or ignore specific warning messages or categories.

In [4]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Define Graphing Function

In this section, we define the function `make_graph`. You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.

In [46]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing=.3)
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False, height=900, title=stock, xaxis_rangeslider_visible=True)
    fig.write_html(f"{stock}_graph.html")

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [6]:
Tesla = yf.Ticker("TSLA")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [7]:
tesla_data = Tesla.history(period="max")

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [8]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm Save the text of the response as a variable named `html_data`.

In [9]:
url = " https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
html_data=requests.get(url).text

Parse the html data using `beautiful_soup`.

In [10]:
!pip install html5lib
from bs4 import BeautifulSoup

soup = BeautifulSoup(html_data, "html.parser")

Requirement already satisfied: html5lib in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from html5lib) (0.5.1)

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1

We are focusing on quarterly revenue in the lab.
```

</details>

In [15]:
tesla_revenue = pd.read_html(str(soup))
tesla_revenue = tesla_revenue[1]

# Update the column names in your code to match the actual names
tesla_revenue["Date"] = tesla_revenue["Tesla Quarterly Revenue (Millions of US $)"]
tesla_revenue["Revenue"] = tesla_revenue["Tesla Quarterly Revenue (Millions of US $).1"]

# Delete the original columns
del tesla_revenue["Tesla Quarterly Revenue (Millions of US $)"]
del tesla_revenue["Tesla Quarterly Revenue (Millions of US $).1"]

tesla_revenue.head()

         Date  Revenue
0  2022-09-30  $21,454
1  2022-06-30  $16,934
2  2022-03-31  $18,756
3  2021-12-31  $17,719
4  2021-09-30  $13,757

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [16]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].astype(str).str.replace(',|$', "")

Execute the following lines to remove an null or empty strings in the Revenue column.

In [17]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [18]:
tesla_revenue.tail()

          Date Revenue
49  2010-06-30     $28
50  2010-03-31     $21
51  2009-12-31     nan
52  2009-09-30     $46
53  2009-06-30     $27

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [19]:
GameStop=yf.Ticker("GME")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [20]:
gme_data = GameStop.history(period="max")

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [21]:
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named `html_data`.

In [22]:
url = " https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html_data = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [23]:
!pip install html5lib
from bs4 import BeautifulSoup

soup = BeautifulSoup(html_data, "html.parser")

Requirement already satisfied: html5lib in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from html5lib) (0.5.1)

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column using a method similar to what you did in Question 2.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [31]:
gme_revenue = pd.read_html(str(soup))
gme_revenue = gme_revenue[1]


gme_revenue["Date"] = gme_revenue["GameStop Quarterly Revenue (Millions of US $)"]
gme_revenue["Revenue"] = gme_revenue["GameStop Quarterly Revenue (Millions of US $).1"]


del gme_revenue["GameStop Quarterly Revenue (Millions of US $)"]
del gme_revenue["GameStop Quarterly Revenue (Millions of US $).1"]
# gme_revenue["Revenue"] = gme_revenue["Revenue"].str.replace(r',|\$', '', regex=True)

gme_revenue["Revenue"] = gme_revenue["Revenue"].astype('float')


gme_revenue.head()

         Date  Revenue
0  2020-04-30   1021.0
1  2020-01-31   2194.0
2  2019-10-31   1439.0
3  2019-07-31   1286.0
4  2019-04-30   1548.0

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [32]:
gme_revenue.tail()

          Date  Revenue
57  2006-01-31   1667.0
58  2005-10-31    534.0
59  2005-07-31    416.0
60  2005-04-30    475.0
61  2005-01-31    709.0

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`. Note the graph will only show data upto June 2021.

In [35]:
!pip install --upgrade nbformat

Requirement already satisfied: nbformat in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (4.2.0)
Collecting nbformat
  Downloading nbformat-5.10.3-py3-none-any.whl.metadata (3.6 kB)
Requirement already satisfied: fastjsonschema in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from nbformat) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from nbformat) (4.19.2)
Requirement already satisfied: jupyter-core in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from nbformat) (5.5.0)
Requirement already satisfied: traitlets>=5.1 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from nbformat) (5.7.1)
Requirement already satisfied: attrs>=22.2.0 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from jsonschema>=2.6->nbformat) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from jsonschema>=2.6->nbformat) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from jsonschema>=2.6->nbformat) (0.10.6)
Requirement already satisfied: platformdirs>=2.5 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from jupyter-core->nbformat) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\khusa\.conda\envs\jupyter_notebook\lib\site-packages (from jupyter-core->nbformat) (305.1)
Downloading nbformat-5.10.3-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.4 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/78.4 kB ? eta -:--:--
   --------------- ------------------------ 30.7/78.4 kB 435.7 kB/s eta 0:00:01
   -------------------- ------------------- 41.0/78.4 kB 393.8 kB/s eta 0:00:01
   ---------------------------------------- 78.4/78.4 kB 545.6 kB/s eta 0:00:00
Installing collected packages: nbformat
  Attempting uninstall: nbformat
    Found existing installation: nbformat 4.2.0
    Uninstalling nbformat-4.2.0:
      Successfully uninstalled nbformat-4.2.0
Successfully installed nbformat-5.10.3

In [41]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing=.3)
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date), y=revenue_data_specific.Revenue, name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False, height=900, title=stock, xaxis_rangeslider_visible=True)
    fig.write_html("tesla_graph.html")

from IPython.display import IFrame


make_graph(tesla_data, tesla_revenue, 'Tesla')


IFrame(src='tesla_graph.html', width=700, height=1000)

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

In [48]:
from IPython.display import IFrame

make_graph(gme_data, gme_revenue, 'GameStop')
IFrame(src='Tesla_graph.html', width=700, height=1000)

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2022-02-28        | 1.2     | Lakshmi Holla | Changed the URL of GameStop |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>